<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/room.css">
    <title>聊天室</title>
</head>
<body class="room">
<style type="text/css">
    body{
        background: url("../static/images/login_bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<ul>
    <li><a href="login.html">退出登录</a></li>
    <li><a href="login.html">用户列表</a></li>
</ul>
</body>
</html>