<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>匿名聊天</title>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
</head>
<body>
<h2>本网站为匿名聊天，请不要使用真名！！！！</h2>
<span>用户名</span>
<input type="text" id="user">
<button id="enter">进入</button>
<h3>当前在线人数：<span>0 </span></h3>
</body>
</html>